*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1c1e21;
    color: #fefefe;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

/* Navbar Styling */

.header{
    background-color: #fefefe;
}

.nav{
    color: #1c1e21;
    margin:0 auto;
    max-width: 1400px;
    width: 90%;
    overflow-y: hidden;
}

.nav__div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav__logo{
    font-weight: 600;
    letter-spacing: 2px;
}

.nav__list{
    display: block;
    height: 0;
    list-style-type: none;
    position: relative;
    transition: height .5s;
}

.nav__list.nav__show{
    height: 6rem;
}

.nav__item{
    height: 3rem;
    text-align: center;
}

.nav__link{
    color: #1c1e21;
    padding: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav__burger{
    cursor: pointer;
    width: 25px;
}

.nav__line{
    background-color: #1c1e21;
    height: 3px;
    margin-bottom: 4px;
    transition: transform .5s,opacity .5s;
    width: 100%;
}

.nav__line:last-child{
    margin-bottom: 0;
}

.nav__line1{
    transform: translateY(7px) rotate(45deg);
}

.nav__line2{
    opacity: 0;
}

.nav__line3{
    transform: translateY(-7px) rotate(-45deg);
}

/* End navbar styling */


@media screen and ( min-width: 480px)
{

    .nav{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        max-width: 1400px;
        padding: 1.5rem;
        width: 90%;
        overflow-y: hidden;
    }
    
    .nav__div{
        display: block;
        padding: 0;
    }

    .nav__list{
        display: flex;
        height: auto;
        justify-content: space-between;
        list-style-type: none;
        position: relative;
        transition:none;
    }

    .nav__item{
        height: auto;
    }

    .nav__burger{
        display: none;
    }

}
